<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hoopladigital.mapper.PersonMapper">

	<sql id="personColumns">
		id,
		firstName,
		middleName,
		lastName
	</sql>

	<select id="getPersonList" resultType="Person">
		select
			<include refid="personColumns" />
		from Person
		order by id
	</select>

	<select id="getPerson" resultType="Person">
		select
			<include refid="personColumns" />
		from Person
		where id = #{id}
	</select>

	<insert id="insertPerson" parameterType="Person" keyProperty="id" useGeneratedKeys="true">
		insert into Person ( firstName, middleName, lastName )
		values ( #{firstName}, #{middleName}, #{lastName} )
	</insert>

	<update id="updatePerson" parameterType="Person">
		update Person
		set firstName = #{firstName},
		    middleName = #{middleName},
		    lastName = #{lastName}
		where id = #{id}
	</update>

	<delete id="deletePerson" parameterType="long">
		delete from Person where id = #{id}
	</delete>

</mapper>
